@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


$color-green: #2ecc71;
$color-red: #e74c3c;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f9fafb;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 2px 10px rgba(0,0,0, .3);
    width: 40rem;
}

h2 {
    text-align: center;
    margin: 0 0 2rem 0;
}

.form {
    padding: 3rem 4rem;

    &-control {
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        position: relative;
    }

    &-control label {
        display: block;
        color: #777;
        margin-bottom: .5rem;
    }

    &-control input {
        border: .2rem solid #f0f0f0;
        border-radius: .4rem;
        display: block;
        width: 100%;
        padding: 1rem;
        font-size: 1.4rem;
    }

    &-control input:focus {
        outline: 0;
        border-color: #777;
    }

    &-control.success input {
        border-color: $color-green;
    }

    &-control.error input {
        border-color: $color-red;
    }

    &-control small {
        color: $color-red;
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
    }

    &-control.error small {
        visibility: visible;
    }

    & button {
        cursor: pointer;
        background-color: #3498db;
        border: .2rem solid #3498db;
        border-radius: .4rem;
        display: block;
        color: #fff;
        font-size: 1.6rem;
        padding: 1rem;
        margin-top: 2rem;
        width: 100%;
    
    }

}
